{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Local static CSS-->
    <link href="{% static 'web_app/styles.css' %}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          crossorigin="anonymous" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z">

    <title>ALVA SITE</title>
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-2 col-lg-2 mr-0 px-4" href="{% url 'home' %}">Alva</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" data-toggle="collapse" type="button"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">
                <img alt="" height="20" src="/static/web_app/icons/box-arrow-left.svg" width="20">
                Logout
            </a>
            {% else %}
            <a class="nav-link" href="{% url 'login' %}">
                <img alt="" height="20" src="/static/web_app/icons/box-arrow-right.svg" width="20">
                Login
            </a>
            {% endif %}
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 col-lg-2 d-md-block bg-light padding-md sidebar" id="sidebarMenu">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {% if selectedTab == 'home' %} active {% endif %}" href="{% url 'home' %}">
                            <img alt="" height="16" src="/static/web_app/icons/house-fill.svg" width="16">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selectedTab == 'prediction' %} active {% endif %}"
                           href="{% url 'prediction' %}">
                            <img alt="" height="16" src="/static/web_app/icons/cpu.svg" width="16">
                            Prediction
                        </a>
                    </li>
                    <li class="nav-item"></li>
                    <a class="nav-link {% if selectedTab == 'results' %} active {% endif %}" href="{% url 'results' %}">
                        <img alt="" height="16" src="/static/web_app/icons/file-ruled-fill.svg" width="16">
                        Results
                    </a>
                    <li class="nav-item">
                        <a class="nav-link {% if selectedTab == 'subscription' %} active {% endif %}"
                           href="{% url 'subscription' %}">
                            <img alt="" height="16" src="/static/web_app/icons/pip-fill.svg" width="16">
                            Subscriptions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if selectedTab == 'about' %} active {% endif %}" href="{% url 'about'%}">
                            <img alt="" height="16" src="/static/web_app/icons/book-half.svg" width="16">
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-10 padding-0">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
</body>

<style>
    .padding-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .padding-md {
        padding-left: 7px !important;
        padding-right: 7px !important;
    }

    .alert {
        margin-top: 0.1rem;
    }
</style>

</html>